*{
 padding: auto;
 margin: auto;
box-sizing: border-box;
}

body{
     background-color: aqua;
     background-image: url("./helth.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   text-decoration: none;
     text-align: center;
     font-family: Arial, Helvetica, sans-serif;
     margin: 30px;
     padding: 30px; 
    
}
.header{
     padding-bottom: 50px;
     border: 60px;
     font-size: 60px;
     color:aqua;
    font-style: inherit;
    

}

.user {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    font-size: 30px;
    color: black;
    border-radius: 20px;

}
.user:hover{
     border-color:aquama  rine
     ;
     border-radius: 20px;
     color: rgba(231, 19, 19, 0.726);

}
#user>input{
     background: transparent;
     font-size: 30px;
     border-color:active ;
     border-radius: 20px;
     text-shadow: 20px;
     text-align: center;
     color: aqua;
     border-color:aqua;
     border: solid 3px ;

}
#user>input:hover{
     background-color: aquamarine;
     color: black;
}
.pass{
     padding: 30px;
     margin: 30px;
     font-size: 30px;
     color:black;
}
.pass:hover{
     background-color: transparent;
     color:  rgba(231, 19, 19, 0.726);
}
#pass>input{
     text-align: center;
     font-size: 30px;
     border-radius: 20px;
     background-color: transparent;
     box-shadow: inset;
     border-color: rgb(11, 220, 220);
     color: aqua;
     border: solid 3px ;
}
#pass>input:hover{
     color: black;
     background-color: aquamarine;

}
#button{
     color: #000;
     background-color: aqua;
     bottom: 30px;
     box-shadow: inset;
     border-color: rgb(11, 220, 220);
     border-radius: 20px;
     cursor: pointer;
    
     border: solid 3px ;
     
   
}
#sign{
     font-size: 30px;
     position:relative;
     margin: 20px;
     color:black;
     font-style: oblique;
}





